@import "compass/css3";
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background: url(assets/leaf-splash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    text-align: center;
}

h1 {
    color: #f9ffe8;
    font-size: 3.5em;
    font-family: 'El Messiri', sans-serif;
    font-weight: normal;
    margin-bottom: 0;
}

h2 {
    color: #f9ffe8;
    font-style: italic;
    font-size: 1.5em;
    font-family: 'El Messiri', sans-serif;
    font-weight: normal;
    margin-top: 0;
}

h3 {
    text-align: center;
    font-size: 2.5em;
    font-family: 'El Messiri', sans-serif;
    margin-top: 100px;
    color: white;
    background-image: linear-gradient(-225deg, limegreen 25%, indigo 100%);
    padding: 15px;
    border-radius: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

h4 {
    text-align: center;
    font-size: 2em;
    font-family: 'El Messiri', sans-serif;
}

li {
    height: auto;
    color: #f9ffe8;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

li.music {
    list-style-image: url(assets/note.png);
    padding-bottom: 20px;
}

li.guitar {
    list-style-image: url(assets/guitar.png);
    padding-bottom: 20px;
}

li.games {
    list-style-image: url(assets/game.png);
    padding-bottom: 20px;
}

li.longboard {
    list-style-image: url(assets/longboard.png);
    padding-bottom: 20px;
}

li.discgolf {
    list-style-image: url(assets/discgolf.png);
    padding-bottom: 20px;
}

li.yoga {
    list-style-image: url(assets/yoga.png);
    padding-bottom: 20px;
}

.bio {
    color: #f9ffe8;
    font-size: 1em;
    text-align: center;
}

.gall {
    color: white;
    font-size: 1em;
    text-align: center;
    Padding: 15px;
    border-radius: 45px;
    background-image: linear-gradient(-225deg, limegreen 25%, indigo 100%);
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.me {
    height: 150px;
    border-radius: 100%;
    border-style: solid;
    border-color: limegreen;
    margin-top: 40px;
}

.about {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 45px;
}

.gallery {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 45px;
}

.flexcontainer {
    width: 90%;
    height: auto;
    overflow-y: auto;
    overflow-x: auto;
    background-image: linear-gradient(-225deg, limegreen 25%, indigo 100%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 15px;
    border-radius: 45px;
}

.caption {
    width: 25%;
    height: auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: white;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}

.grey {
    height: 3px;
    background-color: #d8d8d8;
    border: none;
    width: 50px;
}

.about-container {
    background: url(assets/leaf-splash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

hr.yellow {
    height: 6px;
    border: 0;
    border-bottom: none;
    border-right: none;
}

.box {
    float: left;
    width: 42.5%;
    margin-left: 5%;
    margin-top: 80px;
    background-image: linear-gradient(-225deg, limegreen 25%, indigo 100%);
    border-radius: 45px;
    color: white;
}

.responsive {
    width: 90%;
    height: auto;
}

.clear {
    clear: both;
}

.full-width {
    width: 100%;
}

.contact-me {
    height: 550px;
    background-color: #202020;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    padding-top: 30px;
}

.contact-headline {
    color: white;
}

.contact-info {
    color: white;
    font-size: 13px;
    margin-top: 30px;
}

.contact-link {
    color: white;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.body-link {
    color: indigo;
    text-decoration: none;
}

.bio-link {
    color: limegreen;
    text-decoration: none;
}


/* Sticky header css */

.header {
    overflow: auto;
    background-image: linear-gradient(-225deg, limegreen 25%, indigo 100%);
}

.header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header a:hover {
    background-color: #5E596E;
    color: white;
}

.header a.active {
    background-color: indigo;
    color: white;
}

.header .icon {
    display: none;
}

@media screen and (max-width: 400px) {
    .header a:not(:first-child) {
        display: none;
    }
    .header a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .header.responsive {
        position: relative;
    }
    .header.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .header.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky+.content {
    padding-top: 102px;
}


/*Contact form CSS*/

form {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: auto;
    padding: 30px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    overflow: hidden;
}

textarea {
    background: rgba(81, 26, 137, 0.45);
    width: 100%;
    height: 135px;
    border: none;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    color: #fff;
    padding-left: 45px;
    padding-right: 20px;
    padding-top: 12px;
    margin-bottom: 20px;
    overflow: hidden;
}

select {
    width: 100%;
    height: 48px;
    line-height: 1.5;
    font-size: 1.4em;
    border: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -mox-border-radius: 25px;
    color: #fff;
    display: block;
    background: transparent;
    background-color: rgba(117, 79, 154, 0.52);
    margin-bottom: 20px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.nameinput,
.emailinput {
    width: 894px;
    height: 48px;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 25px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

input[type=submit] {
    cursor: pointer;
}

input.nameinput {
    background: rgba(18, 190, 27, 0.52);
    padding-left: 45px;
}

input.emailinput {
    background: rgba(83, 130, 111, 0.52);
    padding-left: 45px;
}

input.message {
    background: rgba(0, 0, 0, 0.4);
    padding-left: 45px;
}

select.indent {
    padding-left: 45px;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder {
    color: #fff;
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}

input:focus,
textarea:focus {
    background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, .5);
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, .5);
    overflow: hidden;
}

.btn {
    border: none;
    font-family: 'El Messiri', sans-serif;
    font-size: 1.4em;
    width: 200px;
    height: 48px;
    color: indigo;
    background: limegreen;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    position: relative;
    outline: none;
    box-shadow: 0 6px darkgreen;
    border-radius: 5px;
    float: right;
    margin-right: 6px;
}

.btn:hover {
    background: lightgreen;
    outline: none;
    box-shadow: 0 4px limegreen;
    top: 2px;
}

.btn:active {
    background: #fff;
    outline: none;
    box-shadow: 0 0 #cecece;
    top: 6px;
}

.flat {
    border: none;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.flat:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

.flat {
    width: 110% !important;
    height: 48px;
    overflow: hidden;
    margin-bottom: 20px;
    background: url(http://www.jordancundiff.com/wp-content/uploads/2014/03/icon-dropdown.png) no-repeat right;
}

@media only screen and ( min-width: 768px) and ( max-width: 1035px) {
    form {
        width: 736px !important;
    }
    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Subject.flat>select,
    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Subject.flat {
        width: 731px !important;
    }
    .nameinput,
    .emailinput,
    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Message>textarea {
        width: 666px !important;
    }
}

@media only screen and ( max-width: 804px) {
    h1 {
        font-size: 50px;
    }
    form {
        width: 450px !important;
    }
    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Subject.flat>select,
    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Subject.flat {
        width: 445px !important;
    }
    .nameinput,
    .emailinput,
    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Message>textarea {
        width: 380px !important;
    }
}

@media only screen and ( max-width: 517px) {
    h1 {
        font-size: 30px;
    }
    form {
        width: 295px !important;
    }
    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Subject.flat>select,
    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Subject.flat {
        width: 290px !important;
    }
    .nameinput,
    .emailinput,
    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Message>textarea {
        width: 225px !important;
    }
    .btn {
        width: 110px;
    }
}